h1{
  font-family: TimesNewRoman, serif;
  background-color:#030303 ;
  color: red;
  border: 4px solid blue;
}
body{font-family: ariel, sans-serif;
  color: white;
  background-color: #030303;}

img1{display: block;
margin-left: auto;
margin-right: auto;
width: 100%;
border: 2px solid white; }

img2{display: block;
margin-left: auto;
margin-right: auto;
width: 100%;
border: 2px transparent gold;}

footer{font-size: 16px;
border: 2px solid white;
background-color: coral;}

form{width: 80%;
    margin: 0 auto;}

label, input{display: block;}

label{width: 30%;
    text-align: right;}

label + input{width: 30%;
    margin: 0 30% 0 4%;}

input + input{float: right;}
