a:hover{color: yellow;
}

a:link{color: cyan;
}

a:visited{color: grey;
}

h1{font-family: TimesNewRoman, serif;
  background-color:#030303 ;
  color: red;
  border: 3px solid #7b42f5;
  margin-bottom: 0;
}

#p1{margin-top: 0;
margin-bottom: 5px;}

nav{display: grid;
  grid-row: 1;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 0;
margin-bottom: 0;}

body{font-family: ariel, sans-serif;
  color: white;
  background-color: #030303;}

  section {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    position: relative;
  }

  section a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }

  section a:hover {
    background-color: #D4AF37;
  }


section span {
    position: absolute;
    right: 10px;
    top: 10px;
}
/*
.section2{display: grid;
  grid-row: 3;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 18px;
  grid-row-gap: 35px;
  }

.section2 > img{width: 100%;
  height: auto;
}
*/

#logo{width: 250px;
  height: auto;
}

.img1{display: block;
margin-left: auto;
margin-right: auto;
width: 80%;
padding: 2px;
border: 3px solid white;
margin-top: 0;}

.footer1{display: grid;
  grid-template-columns: repeat(5, 1fr);
font-size: 16px;
border: 2px solid white;
background-color: #f5f1ed;
margin-bottom: 0;}

.footer2{margin-top: 0;
  font-size: 10px;}

form{width: 80%;}

#searchinput{position: fixed;
  resize: none;
  text-align: right;
  height: 15px;
width: 250px;}

input{position: fixed;
text-align: right;}
