a:hover{color: yellow;
}

a:link{color: cyan;
}

a:visited{color: grey;
}

h1{font-family: TimesNewRoman, serif;
  background-color:#030303 ;
  color: red;
  border: 3px solid #7b42f5;
  margin-bottom: 0;
}

#p1{margin-top: 0;
margin-bottom: 5px;}

nav{display: grid;
  grid-row: 1;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 0;
margin-bottom: 0;}

body{font-family: ariel, sans-serif;
  color: white;
  background-color: #030303;}

#p1 ~ img{display: block;
margin-left: auto;
margin-right: auto;
width: 100%;
padding: 2px;
border: 3px solid gold;
background-color: #42e3f5; }

footer{display: grid;
  grid-template-columns: repeat(5, 1fr);
font-size: 16px;
border: 2px solid white;
background-color: coral;}

#form1{width: 80%;}

#textarea1{position: fixed;
  resize: none;
  text-align: right;
  height: 15px;
width: 250px;}

#input1{position: fixed;
text-align: right;}
