h1{font-family: TimesNewRoman, serif;
  background-color:#030303 ;
  color: red;
  border: 3px solid #7b42f5;
}

body{font-family: ariel, sans-serif;
  color: white;
  background-color: #030303;}

.img1{display: block;
margin-left: auto;
margin-right: auto;
width: 100%;
padding: 2px;
border: 3px solid white; }

a:hover{color: yellow;
}

a:link{color: cyan;
}

a:visited{color: grey;
}

.img2{display: block;
margin-left: auto;
margin-right: auto;
width: 100%;
padding: 2px;
border: 3px solid gold;
background-color: #42e3f5; }

footer{font-size: 16px;
border: 2px solid white;
background-color: coral;}

form{width: 80%;
    margin: 80px[/B] 30px 0 0;}

textarea{position: absolute;
top: 0px;
left: 500px;}
